In [1]:
a=5
b=6
print(b)

6

In [5]:
a=6
b=5
print(b)

5

In [7]:
num1 = 98.56
type(num1)

float

# Typecasting

. Hierarchy = Boolean->Int->Float->String  ##Forward typecasting is allowed but backward is not possible (from Str to Bool)

. Auto

. Forced

In [9]:
#auto type casting
exp = 5+ False + 6.78 + True + 7 + 98.34  ##(where False = 0 and True = 1)
exp #5+0+6.78+1+7+98.34 equation

118.12

In [13]:
exp1 = 5+False+True+7  ##5+0+1+7
exp1

13

In [14]:
type(exp1)

int

In [17]:
##Forced Typecasting
exp2 = int(5.75)
exp2

5

In [18]:
exp3 = float(45)
exp3

45.0

In [19]:
## typecasting boolean datatyoe
float(True)

1.0

In [20]:
float(False)

0.0

In [21]:
int(False)

0

In [2]:
ex1 = 5 + int('14')+False+float(True)+15.67+False-True-53.2
ex1

-18.53

In [3]:
#input funciton
num=input("Enter the value ")
num   ##by default in this function the output value will be string

Enter the value 8

'8'

In [4]:
type(num)

str

In [8]:
#input funciton
num=int(input("Enter the value "))
num   ##here we have explicitly type casted the string value to integer

Enter the value 8

8

In [6]:
#input funciton
num=float(input("Enter the value "))
num   ##here we have explicitly type casted the string value to float

Enter the value 8

8.0

In [9]:
## Eval function this is also the inbuild function of python and in this function the command is always giveni in single quotes ''
x = str(eval('5+6'))
x

'11'

In [10]:
y = "print(55)"
eval(y)
##here the function has just printed and given the output as 55 giving it as an integer type

55

In [16]:
import numpy as np

In [11]:
z = str(eval('5-6'))
z

'-1'

In [18]:
xy = 'np.prod([8,16,32])' ##this has been used using numpy
eval(xy)

4096

In [19]:
xy = 'sum([8,16,32])' 
eval(xy)

56

## Passing the variable dynamically

In [1]:
#passing the vairbale dynamically
num = 10
print("The value of the number is ", num)

The value of the number is  10

In [3]:
name = "John"
print("Hello my name is ", name)

Hello my name is  John

In [6]:
## format {}---> place holder where you can place content in the predefined place  '.format'  needs to be used for this function
name = "Husain"
age = 36
print("My name is {} and my age is {}  ". format(name, age))

My name is Husain and my age is 36

In [7]:
name = "Husain"
age = 36
sub = "python"
print("My name is {} and my age is {} and i study {} ".format(name, age,sub))

My name is Husain and my age is 36 and i study python

In [9]:
##running the same code with help of indexing
name = "Husain"
age = 36
sub = "python"
print("My name is {1} and my age is {2} and i study {0} ".format(sub, name, age))  # sub=0, name=1 and age=2  as per the indexing

My name is Husain and my age is 36 and i study python

## Slicing
- 3 Parameters [start:stop(E):step]

In [2]:
st1 = "Welcome to Data Science Course with DataMites"
##fist function ascociated with string data type is getting the length of the data
len(st1)

45

In [3]:
st1[8]

't'

In [6]:
st1[8:15]   ##start:stop (excluding)

'to Data'

In [7]:
st1[36]

'D'

In [8]:
st1[50] 
###if the indexing is givven out of the range wil give this error st1[50]  ###if the indexing is givven out of the range

IndexError: string index out of range

In [14]:
st1[-3:-1]

'te'

In [19]:
st1[-29:-22]

'Science'

In [22]:
st1[-29:-1:2] ##[start:stop/end:jump/step]  
##this will start from -29 and end at -22 with 2 jumps for each letter  ##negative indexing is not at all recomended

'SineCus ihDtMt'

In [23]:
st1

'Welcome to Data Science Course with DataMites'

In [28]:
st1[3:23:3]

'ceoa ic'

In [29]:
st1[3::3] ##here the indexing will be taken starting from 3rd index and ending at last with 3 jumps

'ceoa icCr tDat'

In [30]:
st1[3:] ##if end index is not given then by default it will take till the last index

'come to Data Science Course with DataMites'

In [35]:
st1[:10]  ##here if the starting point is not mentioned by default it will begin from start 0th index and end at the given end point defined

'Welcome to'

In [32]:
st3 = st1[3:10] ##here the st1 index is defined to the new variable st3

In [33]:
st3

'come to'

In [36]:
St2 = "Machine Learning"

In [39]:
St2[: :-1]  ##this function will reverse the string value

'gninraeL enihcaM'

## other operators  uppper, lower and split

In [41]:
st1.capitalize()

'Welcome to data science course with datamites'

In [42]:
st1

'Welcome to Data Science Course with DataMites'

In [44]:
st1.casefold()

'welcome to data science course with datamites'

In [46]:
st1.lower()

'welcome to data science course with datamites'

In [47]:
st1.upper()  ##converting the string to upper case

'WELCOME TO DATA SCIENCE COURSE WITH DATAMITES'

In [48]:
st1.split() ##this will split the string in to each string variable and creat each word as each string varible and create a list

['Welcome', 'to', 'Data', 'Science', 'Course', 'with', 'DataMites']

In [53]:
st1.split("c")  ##here the split will happen wherever the c is present

['Wel', 'ome to Data S', 'ien', 'e Course with DataMites']

In [55]:
st1.split("t")

['Welcome ', 'o Da', 'a Science Course wi', 'h Da', 'aMi', 'es']

## Mathematical Operators

In [1]:
## + additions
## - subtraction
## /,//, % divisions
## * multiplications
## ** power of (square/cube of the number)

In [4]:
a=5
b=6
c=a+b
c

11

In [5]:
a=5
b=6
c=a-b
print("the value of c is ",c)

the value of c is  -1

In [ ]:
## division operator
a=15
b=6
c=a/b  ## when u want ouput to be float
c

In [6]:
## division operator
a=15
b=6
c=a//b  ## when u want to ignore the ecimal point
c

2

In [7]:

a=15
b=6
c=a%b  ## when u want reminder
c

3

In [8]:

a=15
b=6
c=a*b  ## when u want product of the number
c

90

In [9]:
a**2  ## squre of the number asigned to a ie 15x15=225

225

## Conditional Statements

In [18]:
a=0  ## assigning the vvariable
if a>1:
    print("if executed") ##this is called block (whch always containts code which needs to be executed is conditon is true)
else:
    print("not executed")

not executed

In [19]:
a=10
if(a==5): ## == operator means equal to 
    print("A value is 10")
    print("If block")
    print("Continue")
print("Out of If block") #Executes if is True/False

Out of If block

In [20]:
a=10 #if-else
if(a==5): #True
    print("A value is 10")
    print("If block")
    print("Continue")
else: #False
    print("If statement fails")
    print("Else statement")
## when if condition is not true and else condition is running

If statement fails
Else statement

In [21]:
a=5 #if-else
if(a==5): #True
    print("A value is 10")
    print("If block")
    print("Continue")
else: #False
    print("If statement fails")
    print("Else statement")
##when if condition is true

A value is 10
If block
Continue

In [ ]:
# a>b a is greater than b
# a<b a is less than b
# a>=b a is greater than or equal to b
# a<=b a is less than or equal to b
# a==b a is equal to b
# a=b assigning the value of b to a

In [25]:
a=0
if(a>0):
    print("A is positive")
else:
    print("A is negative")  ## actually 0 does not have any sign but since the if condiion was not true it printed else condition

A is negative

In [27]:
a=1
if a>2:
    print("if condition executed")
elif a<2:
    print("elif executed")
else:
    print ("else is executed")

elif executed

In [28]:
a=3
if a>2:
    print("if condition executed")
elif a<2:
    print("elif executed")
else:
    print ("else is executed")

if condition executed

In [30]:
a=1
if a>2:
    print("if condition executed")
elif a==0:
    print("elif executed")
else:
    print ("else is executed")

else is executed

In [3]:
price=10000
good_credit=True
if good_credit==True:
    down_payment=0.3*price
    print(down_payment)
else:
    down_payment=0.1*price
    print(f"down_payment:{down_payment}")

3000.0

In [6]:
a=float(input("Enter the Number"))
#a=0,#elif->+ve, -ve, zero, elseif->elif
if(a>0):
    print("A is Positive")
elif(a<0):
    print("A is Negative")
else:
    print("A is Zero")

Enter the Number99.99
A is Positive

## Python Data Structures
- ordered heterogenous data which is ordered
- mutuble
- operations
- [   ]

In [2]:
l=[1,5.5,"Hi",0, False]  ###creating the list always with[]
l ##calling the list

[1, 5.5, 'Hi', 0, False]

In [3]:
l1=list([1,5.5,"Hi",0, False]) ##creatting the list with the help of the inbuild function (list)
l1

[1, 5.5, 'Hi', 0, False]

In [4]:
l3=list([])  ##creating empty list
l3

[]

In [5]:
#cecking the data type of the list
type(l3)

list

In [6]:
l

[1, 5.5, 'Hi', 0, False]

In [7]:
##operations--> inserting, deleting,sorting, slicinig
l[2] #index value starts with zero 0, to access the elements we do indexing

'Hi'

In [8]:
l[-2]

0

In [9]:
l

[1, 5.5, 'Hi', 0, False]

In [10]:
##insertion--> append, extend, insert
l.append(11)  ##this will add new element to the end of the list always
l

[1, 5.5, 'Hi', 0, False, 11]

In [12]:
l.pop(4)##this will pop up the 8th element of the list

False

In [13]:
l.append([4,1,3,5])  ##appending list under a list called as --> nested list
l

[1, 5.5, 'Hi', 0, 11, [4, 1, 3, 5]]

In [15]:
l[5][3]  ##calling element from the nested list

5

In [16]:
l.reverse()##this will reverse the list

In [17]:
l

[[4, 1, 3, 5], 11, 0, 'Hi', 5.5, 1]

In [19]:
l.copy()

[[4, 1, 3, 5], 11, 0, 'Hi', 5.5, 1]

In [23]:
l.reverse()

In [24]:
l.extend([9,8,7])
l

[7, 8, 9, 7, 8, 9, 1, 5.5, 'Hi', 0, 11, [4, 1, 3, 5], 9, 8, 7]

In [31]:
l.extend([5])
l

[7,
 8,
 9,
 7,
 8,
 9,
 1,
 5.5,
 'Hi',
 0,
 11,
 [4, 1, 3, 5],
 9,
 8,
 7,
 'T',
 'r',
 'u',
 'e',
 'o',
 'o',
 5]

In [43]:
l.remove("e")

In [44]:
l

[8, 9, 7, 8, 9, 1, 5.5, 'Hi', 0, 11, [4, 1, 3, 5], 9, 8, 7, 'o', 'o', 5]

In [45]:
l

[8, 9, 7, 8, 9, 1, 5.5, 'Hi', 0, 11, [4, 1, 3, 5], 9, 8, 7, 'o', 'o', 5]

In [47]:
l.insert(1,"T")  ##position, elememt. ## it will insert and element at the specific position (position, element)
l

[8,
 'T',
 5,
 9,
 7,
 8,
 9,
 1,
 5.5,
 'Hi',
 0,
 11,
 [4, 1, 3, 5],
 9,
 8,
 7,
 'o',
 'o',
 5]

In [48]:
l.remove("T")

In [49]:
l

[8, 5, 9, 7, 8, 9, 1, 5.5, 'Hi', 0, 11, [4, 1, 3, 5], 9, 8, 7, 'o', 'o', 5]

In [52]:
l.insert(1,0)
l

[8,
 0,
 0,
 0,
 5,
 9,
 7,
 8,
 9,
 1,
 5.5,
 'Hi',
 0,
 11,
 [4, 1, 3, 5],
 9,
 8,
 7,
 'o',
 'o',
 5]

In [57]:
List=["Banana","Orange","Grapes","Cherry", "Apple"]
List[4:0] = ["Mango","Papaya"]  ##slice assignment new element is been getting added to the list
List

['Banana', 'Orange', 'Grapes', 'Cherry', 'Mango', 'Papaya', 'Apple']